<p style="color: green"><%= notice %></p>


<div id="recipes" class="container">
  <h1>Recipes</h1>

  <div class="row">
  <% @recipes.each do |recipe| %>
    <div class="col-md-3">
      <div class="recipe-card mb-4">
         <%= image_tag recipe.image.url, class: "recipe-show" if recipe.image? %>

         <h3> Title : </h3>
         <%= recipe.title %>
       
         <h3> Description: </h3> 
          <%= recipe.description %>
          <p>
            <%= link_to "Show this recipe", recipe %>
          </p>
      </div><!-- recipe-card-->
      </div><!-- col-md-3-->
  <% end %>
</div><!-- row-->
</div>

<%= link_to "New recipe", new_recipe_path %>
