<p style="color: green"><%= notice %></p>
<% if @recipe.image? %>
	<div class="show-hero">
		<%= image_tag @recipe.image.url, class: "recipe-show" %>
		<div class="show-hero-overlay">
			<%= render @recipe %> 
		</div>
	</div>

<% end %>
<div class="container pt-5">
	<h3>Ingredients</h3>
	<ul>
		<% for @ingredient in @recipe.ingredients %>
			<li><%= @ingredient.content %></li>
		<% end %>
	</ul>

	<h3> Steps </h3>
	<ol>
		<% for @step in @recipe.steps %>
			<li><%= @step.direction %></li>
		<% end %>
	</ol>	

	<div>
		<%= link_to 'Edit', edit_recipe_path(@recipe), :class => "link link-primary" %> |
		<%= link_to 'Back', recipes_path, :class => "link link-primary" %>
		<p>
		<%= link_to "Delete this recipe", @recipe, method: :delete, data: {confirm: 'Are you sure '}, :class => "btn btn-primary" %>
		</p>
	</div>
</div><!---container-->
