<!DOCTYPE html>
<html>
  <head>
    <title>RecipeTwo</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded"> 

  <%= link_to "Recipe App", root_path, class: 'navbar-brand' %>
    <ul class="navbar-nav navbar-right">

      <li><%= link_to "About", pages_about_path, class: 'navbar-brand' %></li>

    </ul>
</nav>
  <body>
    <%= yield %>
  </body>
</html>
